body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#apresentacao {
    text-align: center;
}

#eu {
    height: 200px;
    border-radius: 25%;
}

table {
    border: 1px solid lightgray;
    border-collapse: collapse;
    width: 25%;
 }

 tr:nth-child(even) {
    background-color: lightgrey;
 }

 th {
    border: 1px solid lightgray;
    text-align: center;
    padding: 5px 15px;
 }

 td {
    border: 1px solid lightgray;
    text-align: justify;
    padding: 5px 15px;
 }

 #center {
    text-align: center;
 }