body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkgrey;
    background-color: #333333;
}

#nav {
  text-align: center;
}

iframe {
  margin-top: 10px;
  border: 2px solid #BD6074;
}

#apresentacao {
    text-align: center;
}

#eu {
    height: 150px;
    border-radius: 25%;
}

table {
    border: 1px solid darkgrey;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    color: #BD6074;
 }

 tr:nth-child(even) {
    background-color: darkgray;
 }

 th {
    border: 1px solid darkgrey;
    text-align: center;
    padding: 5px 15px;
 }

 td {
    border: 1px solid darkgrey;
    text-align: justify;
    padding: 5px 15px;
 }

 #center {
    text-align: center;
 }

h1, h2, h3 {
    color: lightgrey; 
 }

 #experiencia {
   align-items: center;
 }

 a {
   text-decoration: none;
   color: #CF6F77;
 }

 a:hover {
   color: #d48198;
 }

 footer {
   text-align: center;
 }

 #icon {
   height: 40px;
 }