<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayara Almeida</title>
    <link rel="stylesheet" href="../css/curriculo.css">
</head>

<body>
    <div id="experiencia">
        <h3>Experiência Profissional</h3>
        <table>
            <tr>
                <th>Instituição</th>
                <th>Cargo/Função</th>
                <th>Período</th>
            </tr>
            <tr>
                <td id="center">Ensino Médio</td>
                <td>Vendendo cupcakes para alunos e professores</td>
                <td id="center">2014</td>
            </tr>
            <tr>
                <td id="center">Trybe</td>
                <td>Projetos variados de front-end, back-end e banco de dados</td>
                <td id="center">2021</td>
            </tr>
            <tr>
                <td id="center">SENAC</td>
                <td>Este currículo</td>
                <td id="center">2024</td>
            </tr>
        </table>
    </div>
</body>

</html>