<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayara Almeida</title>
    <link rel="stylesheet" href="../css/curriculo.css">
</head>

<body>
    <div id="formação">
        <h3>Formação Acadêmica</h3>
        <ul>
            <li>Bacharelado em Design - <a href="https://www.ufpe.br/design-bacharelado-cac">UFPE</a> (2014 -
                Incompleto)</li>
            <li>Bacharelado em Física - <a
                    href="http://plone.ufpb.br/fisica/contents/menu/graduacao-1/fisica-bacharelado">UFPB</a> (2018 -
                Incompleto)</li>
            <li>Desenvolvimento Fullstack - <a href="https://www.betrybe.com/">Trybe</a> (2021 - 2022)</li>
            <li>Análise e Desenvolvimento de Sistemas - <a
                    href="https://faculdadesenacpe.edu.br/graduacao/analise-e-desenvolvimento-de-sistemas">SENAC</a>
                (2024 -
                Atualmente)</li>
        </ul>
    </div>
</body>

</html>