<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayara Almeida</title>
    <link rel="stylesheet" href="../css/curriculo.css">
</head>

<body>
    <div id="sobre">
        <h3>Sobre</h3>
        <p>Após 2 cursos abandonados, finalmente achei o meu chamado. Cursando <b>Análise e Desenvolvimento de
                Sistemas</b>
            no <b>SENAC</b>, toda solução traz um sorriso ao meu rosto. Com certificado em <b>Desenvolvimento Front
                End</b>
            e <b>Desenvolvimento Back End</b> pela <b>Trybe</b>, estou ansiosa para descobrir como ajudar o mundo com
            tecnologia.</p>
        <p style="text-align: center;"><a href="https://github.com/maym4y/" target="_blank"><img title="github"
                    src="../imgs/github_icon.png" alt="github" id="icon"></a>
            <a href="primeiraPage.html"><img title="portfolio" src="../imgs/clipart455732.png" alt="portfolio"
                    id="icon"></a>
            <a href="https://www.linkedin.com/in/maymay-dev" target="_blank"><img title="linkedin"
                    src="../imgs/linkedin_icon.png" alt="linkedin" id="icon"></a>
        </p>
    </div>
</body>

</html>